{% extends 'base.html' %}
{% block title%}About Us{% endblock %}
{% block content %}
    <div class="jumbotron p-5 m-5">
        <h1 class='mb-3'>
            About Best Cars
        </h1>
        <p>
            Welcome to Best Cars dealership, where we bring you the finest selection of cars from 
            across North America. We take pride in offering our customers the best deals on both domestic
            and imported cars. Our knowledgeable and friendly staff is dedicated to ensuring that you find
            the car that meets your specific needs and fits your budget.
        </p>
        <p>
            At Best Cars, we understand that buying a car is an important investment, and we are committed
            to making your experience as seamless and stress-free as possible. We offer a range of financing 
            options to help you get behind the wheel of your dream car without breaking the bank.
        </P>
        <p>
            Whether you're in the market for a new or used car, our extensive inventory has something for
            everyone. From luxury sedans to rugged SUVs, we have it all. Visit us today to experience the
            Best Cars difference.
        </p>
    </div>
{% endblock %}