{% extends 'base.html' %}
{% block title %}Add Review{% endblock %}
{% block content %}
    <div class="jumbotron w-50 p-4 mx-auto">
        <h2>Add a review for {{dealer.name}}</h2>
        <form id="review-form" method="post" action="{% url 'djangoapp:add_review' dealer_id=dealer_id %}">
            {% csrf_token %}
            <div class="form-group">
                <textarea class="form-control" id="review"
                          name="review" rows="2" required
                          placeholder="Write your review here..."
                >
                </textarea>
            </div>
            <div class="form-group">
                <label>Have you purchased a car from this dealer before?</label>
                <div>
                    <input class="form-check-input" name="purchase" type="radio" value="yes">
                    <label>Yes</label>
                </div>
                <div>
                    <input class="form-check-input" name="purchase" type="radio" value="no">
                    <label>No</label>
                </div>
            </div>
            <div class="form-group">
                <label for="car">Select a car</label>
                <select name="car" id="car" class="form-select" required>
                    {% for car in cars %}
                        <option selected value={{car.id}}>{{car.name}}-{{car.make.name}}-{{ car.year}}</option>
                    {% endfor %}
            </div>
            <div class="form-group">
                <label>Select your purchase date</label>
                <input class="date-own form-control" type="text" name="purchasedate" id="purchasedate">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          
        </form>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(function() {
            $('.date-own').datepicker({
                format: 'mm/dd/yyyy'
            });
        })
    </script>
{% endblock %}