{% extends 'base.html' %}
{% block title %}Contact Us{% endblock %}
{% block content %}
    <div class='jumbotron p-3 m-5'>
        <h1>Contact Us</h1>
        <h2>General Inquiries</h2>
        <p>
            If you have any questions or concerns about our products or services, please don't hesitate to contact us by email or phone. Our customer service representatives are available to assist you Monday through Friday, from 9am to 5pm.
        </p>
        <ul>
            <li>Email: <a href="#">info@bestcars.com</a></li>
            <li>Phone: (555) 555-5555</li>
        </ul>
        <h2>Sales Inquiries</h2>
        <p>
            For inquiries related to sales or product information, please contact our sales team by email or phone. They will be happy to assist you with any questions you may have.
        </p>
        <ul>
            <li>Email: <a href="#">sales@bestcars.com</a></li>
            <li>Phone: (555) 555-5555</li>
        </ul>
        <h2>Technical Support</h2>
        <p>
            If you require technical support for any of our products, please contact our technical support team by email or phone. They are available 24/7 to assist you with any issues you may encounter.
        </p>
        <ul>
            <li>Email: <a href="#">support@bestcars.com</a></li>
            <li>Phone: (555) 555-5555</li>
        </ul>
    </div>
{% endblock %}