{% extends 'base.html' %}
{% block title %}Dealer Details{% endblock %}
{% block content %}
    <div class="p-5">
        <h3>{{dealer.full_name}}</h3>
        <h6>{{dealer.address}}, {{dealer.city}}, {{dealer.state}}</h6>
        <div class="jumbotron">
            <h4>Reviews</h4>
            {% if reviews %}
                <div class="d-flex">
                    {% for review in reviews %}
                        <div class="card">
                            <div class="card-header d-flex justify-content-start">
                                <img 
                                    src="{{MEDIA_URL}}/emoji/positive.png"
                                    style="width: 25px; height:25px"
                                />
                            </div>
                            <div class="card-body">
                                {% if review.purchase %}
                                        <h5>{{review.car_make}}, {{review.car_model}}</h5>
                                        <h5>{{review.car_year}}</h5>
                                {% endif %}
                                <blockquote class="blockquote mb-0">
                                    <p>Sentiment: {{review.sentiment}}</p>
                                    <p>"{{review.review}}"</p>
                                    <footer class="blockquote-footer">{{review.name}}</footer>
                                </blockquote>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>No reviews found.</p>
            {% endif %}
        </div>
        {% if user.is_authenticated %}
            <button class="btn btn-primary text-light">
                <a class="text-light" href="{% url 'djangoapp:add_review' dealer_id=dealer.id %}">Add Review</a>
            </button>
        {% endif %}
    </div>
{% endblock %}