{% extends 'base.html' %}
{% block title %}Dealership{% endblock %}
{% block content %}
    <!--Add a dealer table here -->
    <table class="table table-striped table-bordered my-3 mx-auto w-75"
           data-filter-control="true"
           id="table"
    >
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Dealership name</th>
                <th>City</th>
                <th>Address</th>
                <th>Zip</th>
                <th data-field="state" data-filter-control="select" data-filter-control-attr="data-align='right'">State</th>
            </tr>
        </thead>
        {% if dealerships %}
            <tbody>
                {% for dealer in dealerships %}
                    <tr>
                        <td>{{ dealer.id }}</td>
                        <td><a href="{% url 'djangoapp:dealer_details' dealer_id=dealer.id %}">{{ dealer.full_name }}</a></td>
                        <td>{{ dealer.city }}</td>
                        <td>{{ dealer.address }}</td>
                        <td>{{ dealer.zip }}</td>
                        <td>{{ dealer.state }}</td> 
                    </tr>
                {% endfor %}
            </tbody>
        {% else %}
            <h2>{{message}}</h2>
        {% endif %}
    </table>
{% endblock %}
{% block scripts %}
    <script>
        $(document).ready(function() {
            $('#table').bootstrapTable()
        })
    </script>
{% endblock %}
